In [1]:
import numpy as np
import pandas as pd
import surprise

import math
from datetime import datetime

In [2]:
from surprise import SVD
from surprise import accuracy
from surprise.accuracy import rmse
from surprise.model_selection import train_test_split
from surprise import Dataset
from surprise import Reader

## 목표
1. Matrix Factorization 을 numpy 만으로 구현할 것
2. 영화 시청 이력을 기반으로 영화 평점 예측 모델 구현
3. 데이터 셋은 아래 것을 사용할 것: https://grouplens.org/datasets/movielens/
4. 학습 데이터:  timestamp >= 1104505203 ~ timestamp <= 1230735592
5. 평가 데이터: timestamp >= 1230735600 이후
6. 최종 산출물 평가데이터에 대한 아래 결과와 함께 구현 코드: $<userId>,<movieId>,<predicted rating>,<timestamp>$
7. 구현의 성능 향승을 위한 동시성 사용방안에 대해 고민할 것

## practice

In [3]:
# data load
df_rating = pd.DataFrame(pd.read_csv("../data/ratings.csv"))

In [4]:
df_rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [5]:
del df_rating['timestamp']

In [6]:
df_rating

          userId  movieId  rating
0              1      296     5.0
1              1      306     3.5
2              1      307     5.0
3              1      665     5.0
4              1      899     3.5
...          ...      ...     ...
25000090  162541    50872     4.5
25000091  162541    55768     2.5
25000092  162541    56176     2.0
25000093  162541    58559     4.0
25000094  162541    63876     5.0

[25000095 rows x 3 columns]

In [7]:
# 평가를 최소 20번이상 한 유저들
us_rating = df_rating.groupby('userId')['rating'].count().reset_index().sort_values('rating',ascending=False)
us_rating.tail()

        userId  rating
12093    12094      20
119538  119539      20
156758  156759      20
12083    12084      20
36206    36207      20

In [8]:
#평가를 최소 1번 받은 영화들
mv_rating = df_rating.groupby('movieId')['rating'].count().reset_index().sort_values('rating',ascending=False)
mv_rating.tail()

       movieId  rating
41343   167308       1
41350   167326       1
41354   167336       1
41355   167338       1
59046   209171       1

In [9]:
# 50번 이하의 평가를 받은 영화, 50번 이하의 영화를 본 유저를 제외
min_movie = 50 
min_user = 50

filter_user = df_rating['userId'].value_counts() > min_user
filter_user = filter_user[filter_user].index.tolist()

filter_movie = df_rating['movieId'].value_counts() > min_user
filter_movie = filter_movie[filter_movie].index.tolist()

df_new = df_rating[(df_rating['movieId'].isin(filter_movie))&(df_rating['userId'].isin(filter_user))]
df_new

          userId  movieId  rating
0              1      296     5.0
1              1      306     3.5
2              1      307     5.0
3              1      665     5.0
4              1      899     3.5
...          ...      ...     ...
25000090  162541    50872     4.5
25000091  162541    55768     2.5
25000092  162541    56176     2.0
25000093  162541    58559     4.0
25000094  162541    63876     5.0

[22684182 rows x 3 columns]

In [10]:
reader = Reader(rating_scale=(0,5))
data = Dataset.load_from_df(df_new[['userId','movieId','rating']],reader )

In [13]:
data

In [12]:
print("Using SVD")
algo = SVD()
cross_validate(algo, data, measures=['RMSE'], cv=3, verbose=False)

Using SVD

{'test_rmse': array([0.77222478, 0.77202028, 0.77198672]),
 'fit_time': (722.4528722763062, 797.2867441177368, 791.428240776062),
 'test_time': (131.72352623939514, 134.94076299667358, 93.6947569847107)}

In [13]:
trainset,testset = train_test_split(data,test_size=0.25)
algo = SVD()
predictions = algo.fit(trainset).test(testset)

In [20]:
pd.DataFrame(predictions)

            uid    iid  r_ui       est                    details
0          9687   4340   2.0  2.364986  {'was_impossible': False}
1           803   7785   4.5  3.717608  {'was_impossible': False}
2         11727  91630   2.0  3.206693  {'was_impossible': False}
3         59614  89492   4.0  3.965279  {'was_impossible': False}
4         55828  91597   4.0  3.984255  {'was_impossible': False}
...         ...    ...   ...       ...                        ...
5671041  117842    593   4.0  3.944036  {'was_impossible': False}
5671042  144823   2329   5.0  3.464501  {'was_impossible': False}
5671043  115500   2080   1.5  2.420303  {'was_impossible': False}
5671044  129597  32840   4.0  4.232667  {'was_impossible': False}
5671045    7127   4085   3.0  2.682441  {'was_impossible': False}

[5671046 rows x 5 columns]

In [23]:
accuracy.rmse(predictions)

RMSE: 0.7659

0.7659225704345772

## 구현

In [80]:
df_rating = pd.DataFrame(pd.read_csv("../data/ratings.csv"))

In [81]:
df_all = df_rating.copy()
df_train = df_all[df_all["timestamp"] >= 1104505203]
df_train = df_train[df_train["timestamp"] <= 1230735592]
df_test = df_all[df_all["timestamp"] >= 1230735600]

In [83]:
df_train_test = pd.concat([df_train,df_test])
del df_train_test['timestamp']

In [84]:
df_train_test

          userId  movieId  rating
0              1      296     5.0
1              1      306     3.5
2              1      307     5.0
3              1      665     5.0
4              1      899     3.5
...          ...      ...     ...
25000090  162541    50872     4.5
25000091  162541    55768     2.5
25000092  162541    56176     2.0
25000093  162541    58559     4.0
25000094  162541    63876     5.0

[16074978 rows x 3 columns]

In [85]:
df_test

          userId  movieId  rating   timestamp
254            3        1     4.0  1439472215
255            3       29     4.5  1484754967
256            3       32     4.5  1439474635
257            3       50     5.0  1439474391
258            3      111     4.0  1484753849
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[11472872 rows x 4 columns]

In [86]:
timestamps = pd.DataFrame(df_test['timestamp'])

In [87]:
test_size_per = len(df_test)/len(df_train_test)
test_size_per

0.7137099658861119

In [88]:
reader = Reader(rating_scale=(0,5))
data = Dataset.load_from_df(df_train_test[['userId','movieId','rating']],reader )
trainset,testset = train_test_split(data,test_size = test_size_per)
algo = SVD()
predictions = algo.fit(trainset).test(testset)

In [110]:
testset

[(27092, 5902, 4.0),
 (136901, 53996, 1.0),
 (74808, 1350, 3.5),
 (121142, 1968, 1.5),
 (22799, 4744, 2.0),
 (11602, 52528, 2.5),
 (74674, 7046, 4.0),
 (117117, 3948, 4.0),
 (94539, 71530, 5.0),
 (91169, 8638, 4.5),
 (123865, 53125, 3.5),
 (67217, 5902, 3.5),
 (139523, 120795, 3.0),
 (34771, 2541, 2.5),
 (121940, 1721, 4.5),
 (122974, 34437, 2.0),
 (56658, 8361, 1.0),
 (120340, 1682, 3.5),
 (133192, 2712, 2.5),
 (151449, 4085, 4.0),
 (146446, 51694, 4.0),
 (117336, 3706, 4.5),
 (127400, 318, 5.0),
 (96801, 7205, 4.0),
 (137614, 208, 3.5),
 (31, 2918, 3.0),
 (155992, 176419, 4.5),
 (34423, 4728, 4.0),
 (109834, 47810, 2.5),
 (64972, 162606, 5.0),
 (75753, 541, 4.5),
 (153348, 3070, 3.0),
 (2687, 4014, 5.0),
 (51678, 2357, 5.0),
 (33595, 315, 2.0),
 (140703, 86190, 4.0),
 (92767, 72011, 3.0),
 (103372, 2916, 3.5),
 (92141, 1041, 3.0),
 (161380, 40732, 4.0),
 (116857, 96610, 4.0),
 (133486, 3623, 3.5),
 (75589, 2918, 5.0),
 (74658, 74458, 3.0),
 (22415, 377, 2.5),
 (84968, 6711, 4.0),
 (84692, 4874, 2.0),
 (147993, 2699, 3.5),
 (76636, 111781, 3.5),
 (97915, 42734, 2.0),
 (59471, 5378, 2.5),
 (102271, 53322, 2.0),
 (131219, 61123, 2.5),
 (113264, 7045, 4.5),
 (7939, 44191, 4.5),
 (69008, 2642, 2.0),
 (16452, 2391, 4.0),
 (115462, 176929, 3.0),
 (121125, 2745, 5.0),
 (22175, 31150, 3.0),
 (32632, 164179, 5.0),
 (23934, 2985, 4.0),
 (35293, 54503, 4.0),
 (69445, 1080, 4.0),
 (114573, 3693, 5.0),
 (146032, 1917, 2.5),
 (27229, 1097, 3.5),
 (143297, 177593, 4.0),
 (152032, 2694, 3.0),
 (90350, 112290, 5.0),
 (139107, 1020, 3.5),
 (98069, 377, 3.0),
 (150005, 101827, 3.0),
 (154545, 166461, 5.0),
 (130235, 73017, 3.5),
 (91998, 457, 4.0),
 (49925, 6156, 4.0),
 (108723, 103688, 4.5),
 (115257, 1196, 4.5),
 (46342, 7160, 3.5),
 (70361, 55999, 2.5),
 (141042, 79132, 4.0),
 (106884, 420, 2.5),
 (147586, 1244, 4.0),
 (24682, 2116, 2.5),
 (122569, 19, 3.5),
 (131463, 1610, 5.0),
 (156169, 249, 4.0),
 (140282, 1233, 5.0),
 (11562, 3114, 4.0),
 (36264, 2967, 2.5),
 (113114, 2571, 4.0),
 (37014, 5995, 5.0),
 (100509, 1197, 4.0),
 (110125, 69481, 3.5),
 (94334, 157, 2.0),
 (68815, 1200, 4.0),
 (108879, 1248, 4.5),
 (119078, 74795, 3.0),
 (129173, 97304, 4.5),
 (139366, 2710, 4.0),
 (49734, 6537, 2.5),
 (43489, 82202, 2.5),
 (27061, 1408, 3.0),
 (69875, 1298, 1.0),
 (40752, 492, 5.0),
 (75934, 68954, 3.0),
 (16507, 108945, 3.0),
 (134329, 710, 2.0),
 (49810, 8196, 4.5),
 (136478, 77866, 2.5),
 (78807, 49651, 3.0),
 (109049, 122918, 3.0),
 (159523, 37731, 3.5),
 (149538, 8533, 2.5),
 (4410, 56367, 3.5),
 (93424, 8596, 2.5),
 (67257, 8949, 5.0),
 (38203, 68237, 3.0),
 (98422, 86190, 4.0),
 (40035, 44685, 3.5),
 (96801, 1398, 4.0),
 (57027, 4720, 3.5),
 (120431, 91658, 3.5),
 (45175, 6250, 3.5),
 (132358, 1221, 5.0),
 (64770, 4995, 4.0),
 (68955, 329, 3.0),
 (23900, 52973, 4.0),
 (26523, 81847, 4.0),
 (108569, 919, 4.0),
 (156183, 419, 2.0),
 (18643, 116887, 5.0),
 (64286, 1591, 2.0),
 (54295, 5952, 4.0),
 (108432, 200938, 5.0),
 (47542, 98203, 1.0),
 (132929, 2683, 3.5),
 (73875, 31427, 2.5),
 (75386, 3450, 3.5),
 (112320, 1376, 4.0),
 (27637, 2348, 2.5),
 (149203, 58559, 2.5),
 (20004, 1407, 3.0),
 (100536, 7371, 4.5),
 (42785, 1982, 3.5),
 (79393, 8371, 4.5),
 (57050, 2488, 2.5),
 (74674, 3911, 3.5),
 (66004, 6539, 1.0),
 (25233, 74864, 4.0),
 (8618, 551, 5.0),
 (27867, 1907, 3.5),
 (103998, 1997, 4.0),
 (161888, 88810, 5.0),
 (57494, 130992, 3.0),
 (126583, 53996, 3.5),
 (8150, 593, 1.5),
 (161724, 3702, 4.0),
 (28704, 6934, 3.5),
 (145892, 4308, 3.5),
 (62492, 2115, 4.0),
 (18940, 166528, 3.5),
 (144840, 1186, 5.0),
 (29144, 2770, 1.0),
 (61379, 26398, 3.0),
 (139785, 202015, 0.5),
 (34483, 106489, 4.0),
 (60461, 97, 4.5),
 (89102, 7139, 4.0),
 (21923, 55995, 2.0),
 (65030, 5378, 3.0),
 (142567, 3081, 3.5),
 (160256, 8785, 5.0),
 (88662, 108727, 4.5),
 (116971, 34319, 3.5),
 (106228, 3256, 2.0),
 (146234, 204, 2.0),
 (128033, 1542, 3.5),
 (21016, 61248, 3.5),
 (8633, 4878, 5.0),
 (7969, 4016, 3.5),
 (131892, 84152, 2.0),
 (86625, 5955, 3.0),
 (5349, 424, 2.0),
 (41141, 3949, 5.0),
 (92105, 196, 2.0),
 (54136, 3498, 4.5),
 (26413, 43744, 3.5),
 (95863, 152079, 1.5),
 (64682, 8207, 3.0),
 (148291, 1274, 3.5),
 (39301, 2959, 4.5),
 (32115, 527, 2.5),
 (144639, 608, 4.5),
 (85043, 5577, 5.0),
 (114677, 260, 5.0),
 (34334, 175293, 1.5),
 (135642, 86548, 4.5),
 (138247, 2354, 3.0),
 (121146, 4226, 4.5),
 (121807, 8949, 4.5),
 (64698, 122886, 4.0),
 (72315, 3586, 3.0),
 (134829, 43904, 1.5),
 (118906, 6748, 3.5),
 (40487, 5782, 0.5),
 (3842, 1136, 4.5),
 (34409, 56941, 2.5),
 (37544, 11, 4.0),
 (57147, 58559, 4.0),
 (117717, 1247, 3.5),
 (79086, 6539, 3.5),
 (57548, 45928, 0.5),
 (34091, 2423, 4.5),
 (26577, 53322, 4.0),
 (57548, 77846, 4.0),
 (78849, 7185, 2.0),
 (110632, 111, 5.0),
 (41608, 94558, 2.0),
 (100257, 99112, 3.5),
 (47700, 56757, 3.5),
 (107269, 112623, 4.0),
 (115177, 172, 4.0),
 (10140, 457, 3.5),
 (33961, 3910, 4.0),
 (145970, 8620, 4.5),
 (9173, 111, 4.5),
 (80225, 102407, 3.0),
 (86698, 1220, 4.0),
 (154829, 5464, 4.5),
 (139466, 19, 2.5),
 (129314, 3396, 5.0),
 (38985, 94677, 4.0),
 (61795, 648, 4.0),
 (150360, 3717, 2.0),
 (73507, 1262, 0.5),
 (116678, 4720, 4.0),
 (17360, 61240, 3.0),
 (105018, 8368, 3.5),
 (84822, 3424, 4.5),
 (133219, 500, 3.5),
 (3547, 85414, 3.0),
 (109731, 26704, 3.5),
 (21701, 52975, 3.5),
 (135661, 480, 4.0),
 (1722, 924, 5.0),
 (143203, 54190, 2.5),
 (144660, 5418, 3.5),
 (46522, 1961, 4.5),
 (59181, 109374, 0.5),
 (30694, 1682, 3.5),
 (567, 316, 4.0),
 (31200, 2352, 0.5),
 (28617, 8360, 4.0),
 (160995, 5945, 3.0),
 (4429, 3362, 4.0),
 (132754, 26391, 3.0),
 (117949, 97938, 3.0),
 (118473, 179819, 3.0),
 (63461, 3925, 5.0),
 (141087, 109487, 5.0),
 (105995, 1552, 4.5),
 (159638, 5952, 4.5),
 (26411, 5445, 4.0),
 (22977, 527, 5.0),
 (110493, 7451, 5.0),
 (2165, 1625, 4.5),
 (75551, 382, 3.0),
 (89806, 4025, 2.0),
 (62298, 4963, 4.0),
 (95600, 176779, 2.5),
 (113530, 108727, 3.5),
 (63257, 5909, 2.0),
 (53123, 1483, 2.5),
 (72533, 223, 5.0),
 (122386, 2826, 2.5),
 (53974, 53972, 4.0),
 (34146, 2651, 3.0),
 (124655, 1033, 3.0),
 (158101, 69, 4.5),
 (81566, 90357, 4.0),
 (89526, 34405, 4.5),
 (24796, 2791, 2.0),
 (74442, 1544, 3.0),
 (161102, 524, 3.5),
 (106052, 1960, 4.0),
 (41076, 39, 3.5),
 (50771, 1219, 3.5),
 (9402, 86332, 1.0),
 (5413, 541, 3.5),
 (65446, 149334, 3.5),
 (29379, 1704, 4.0),
 (4037, 59369, 4.5),
 (95456, 2085, 5.0),
 (152662, 364, 5.0),
 (130333, 82244, 3.5),
 (125122, 92259, 4.5),
 (84016, 4728, 4.5),
 (78081, 175655, 3.0),
 (127494, 1209, 5.0),
 (52664, 2395, 5.0),
 (129749, 63393, 1.5),
 (93391, 72998, 5.0),
 (99559, 3386, 3.5),
 (159639, 590, 3.5),
 (133608, 165549, 4.5),
 (67798, 44788, 4.0),
 (133445, 527, 4.0),
 (135404, 171763, 4.0),
 (67676, 3363, 4.0),
 (109575, 1215, 3.0),
 (58980, 26294, 3.5),
 (70802, 2858, 4.0),
 (83622, 1193, 3.5),
 (89721, 1887, 1.5),
 (19945, 2410, 3.0),
 (121987, 351, 4.0),
 (19325, 40629, 2.5),
 (61369, 6947, 3.5),
 (91690, 442, 4.5),
 (15038, 86882, 3.0),
 (12, 3527, 3.0),
 (8944, 56152, 4.0),
 (65816, 4886, 5.0),
 (109041, 4878, 5.0),
 (38506, 68157, 5.0),
 (32718, 48385, 5.0),
 (26845, 135536, 2.0),
 (102240, 49530, 4.0),
 (157748, 903, 4.5),
 (64434, 6539, 5.0),
 (96278, 5418, 3.5),
 (140380, 1059, 4.5),
 (73229, 50442, 3.0),
 (56804, 122920, 5.0),
 (74882, 6550, 3.0),
 (67943, 79185, 4.0),
 (61941, 46976, 3.0),
 (132747, 36529, 3.5),
 (41407, 3770, 3.0),
 (100910, 6377, 4.0),
 (105887, 6934, 5.0),
 (124337, 50, 4.0),
 (52849, 1272, 4.0),
 (30769, 6966, 2.5),
 (128730, 135567, 3.0),
 (67360, 8644, 2.5),
 (112200, 5225, 4.5),
 (147201, 588, 4.0),
 (4952, 6283, 4.0),
 (29955, 441, 3.5),
 (47077, 37741, 2.5),
 (25672, 2965, 3.0),
 (160430, 3916, 3.0),
 (126013, 1911, 2.5),
 (12218, 54286, 2.0),
 (92836, 2355, 2.0),
 (156235, 316, 1.5),
 (125281, 168250, 4.0),
 (35765, 3448, 2.5),
 (42553, 42738, 4.5),
 (125217, 5991, 4.5),
 (77418, 784, 4.0),
 (85011, 3993, 4.0),
 (10919, 207115, 0.5),
 (3503, 2208, 3.5),
 (22406, 102125, 4.5),
 (65517, 1246, 5.0),
 (119792, 553, 3.5),
 (108534, 8798, 4.5),
 (17047, 140956, 2.0),
 (70731, 2918, 3.5),
 (19463, 52328, 3.0),
 (60343, 1917, 3.5),
 (152319, 1343, 0.5),
 (100263, 2028, 3.5),
 (121669, 170, 5.0),
 (52190, 7117, 2.0),
 (145223, 1136, 4.0),
 (66983, 81784, 2.5),
 (32786, 223, 3.0),
 (72827, 69122, 3.5),
 (130866, 3105, 4.0),
 (15605, 2959, 4.0),
 (100382, 5952, 4.5),
 (23259, 176371, 4.0),
 (145056, 56367, 5.0),
 (1554, 6934, 2.0),
 (102677, 59315, 4.0),
 (161041, 2692, 4.0),
 (134842, 32593, 5.0),
 (77547, 5954, 3.0),
 (9770, 1544, 4.0),
 (161460, 4974, 3.0),
 (131199, 30812, 2.5),
 (130646, 168248, 3.5),
 (2806, 128320, 5.0),
 (76980, 65188, 4.0),
 (134356, 27912, 3.5),
 (86852, 1645, 4.5),
 (56914, 32, 4.5),
 (54957, 5418, 4.5),
 (5255, 3683, 3.5),
 (125001, 59315, 5.0),
 (87555, 1261, 4.0),
 (112321, 96302, 3.5),
 (34478, 1270, 2.5),
 (97858, 527, 3.5),
 (28971, 410, 3.5),
 (71766, 8644, 3.5),
 (46125, 81562, 4.0),
 (126550, 7153, 3.0),
 (143549, 2100, 4.0),
 (87866, 120635, 2.5),
 (146925, 44947, 4.0),
 (161176, 104241, 5.0),
 (123579, 1729, 4.5),
 (135060, 293, 4.0),
 (9293, 36276, 4.0),
 (32734, 76208, 4.5),
 (59480, 903, 5.0),
 (151926, 541, 4.0),
 (87806, 1196, 5.0),
 (124601, 805, 2.5),
 (51604, 2571, 3.0),
 (158447, 1210, 3.5),
 (64988, 1253, 4.0),
 (75876, 2797, 4.5),
 (68377, 50, 2.5),
 (29456, 1747, 2.5),
 (139809, 136020, 5.0),
 (19881, 2692, 4.0),
 (55001, 5995, 5.0),
 (158651, 1408, 3.5),
 (46252, 1222, 3.5),
 (159282, 71464, 3.5),
 (58198, 5, 3.0),
 (9981, 3623, 3.5),
 (41619, 3908, 1.0),
 (49839, 6016, 4.0),
 (146853, 112556, 2.5),
 (162052, 45722, 2.5),
 (8608, 1220, 4.0),
 (79169, 1370, 3.5),
 (9891, 109374, 4.5),
 (1536, 45183, 4.5),
 (75154, 61323, 2.5),
 (98769, 6807, 5.0),
 (100577, 5363, 3.0),
 (134687, 253, 4.0),
 (156048, 48516, 4.0),
 (133761, 485, 1.0),
 (41304, 53121, 3.5),
 (134610, 1225, 5.0),
 (5018, 88129, 5.0),
 (136430, 34162, 2.5),
 (7513, 1387, 4.0),
 (10761, 2808, 1.5),
 (78226, 122890, 4.5),
 (5903, 5658, 4.0),
 (113178, 4458, 2.5),
 (69028, 53125, 3.0),
 (153063, 7438, 3.5),
 (97037, 2502, 3.0),
 (10019, 5502, 4.0),
 (83466, 82459, 3.5),
 (80749, 1035, 3.5),
 (23763, 159698, 1.5),
 (42973, 1193, 4.0),
 (159265, 3429, 4.0),
 (89044, 1370, 4.0),
 (131524, 1090, 3.0),
 (26485, 296, 4.0),
 (321, 1978, 1.5),
 (54718, 1136, 4.0),
 (134609, 923, 3.0),
 (115563, 4105, 5.0),
 (82106, 33166, 4.0),
 (154698, 80549, 5.0),
 (13079, 6669, 5.0),
 (17931, 1198, 4.0),
 (140410, 2571, 4.0),
 (135812, 1711, 3.5),
 (113704, 2938, 4.5),
 (121731, 236, 3.5),
 (45631, 61024, 4.5),
 (120976, 7153, 4.5),
 (128506, 1213, 5.0),
 (117192, 6816, 3.0),
 (49318, 5989, 3.5),
 (69664, 733, 3.5),
 (63770, 1247, 3.0),
 (72292, 4703, 3.5),
 (107577, 32213, 3.0),
 (49403, 77359, 4.0),
 (91653, 52, 5.0),
 (18938, 2329, 4.0),
 (116319, 119145, 1.0),
 (72210, 3448, 4.5),
 (118919, 48394, 4.5),
 (136350, 8636, 4.0),
 (24588, 136020, 3.0),
 (40193, 3052, 4.0),
 (90449, 2648, 4.5),
 (142962, 661, 4.0),
 (33291, 3868, 4.0),
 (92092, 31658, 5.0),
 (34705, 39183, 3.5),
 (49350, 46967, 3.5),
 (71129, 5995, 4.0),
 (135548, 2959, 5.0),
 (146708, 96490, 2.5),
 (43423, 4007, 2.5),
 (121558, 32, 4.0),
 (131280, 7381, 0.5),
 (140754, 2858, 3.0),
 (69778, 27788, 3.0),
 (19317, 3253, 3.5),
 (138692, 2081, 4.5),
 (62312, 3340, 3.5),
 (156319, 318, 4.5),
 (95614, 296, 4.0),
 (127046, 2952, 3.5),
 (124158, 48516, 4.0),
 (159503, 58559, 4.5),
 (8215, 120635, 1.0),
 (140708, 2594, 4.0),
 (18360, 6218, 4.0),
 (132917, 2968, 3.0),
 (73829, 8784, 4.5),
 (40804, 71902, 2.0),
 (37692, 53519, 1.0),
 (36513, 143859, 4.5),
 (97772, 2572, 4.5),
 (91651, 148238, 2.0),
 (43967, 27644, 4.5),
 (19260, 485, 3.0),
 (89413, 4995, 2.5),
 (140537, 1036, 4.0),
 (142815, 144620, 3.0),
 (137122, 109374, 4.0),
 (24412, 3994, 4.0),
 (87705, 193, 3.5),
 (76070, 2160, 3.0),
 (72273, 1923, 3.0),
 (23377, 519, 1.5),
 (135497, 6323, 4.0),
 (74022, 2329, 2.0),
 (26050, 4993, 4.0),
 (70092, 551, 4.5),
 (120793, 78209, 2.5),
 (93515, 36535, 3.0),
 (156480, 3163, 3.5),
 (133049, 1513, 5.0),
 (127976, 593, 3.5),
 (23431, 170, 5.0),
 (45207, 122892, 5.0),
 (10491, 8874, 4.5),
 (155763, 32, 4.5),
 (13999, 2571, 2.0),
 (901, 102445, 3.5),
 (29532, 186, 4.0),
 (102723, 377, 2.0),
 (76020, 1097, 4.0),
 (133076, 1214, 3.5),
 (78496, 410, 4.5),
 (2165, 42721, 0.5),
 (134715, 745, 4.5),
 (42490, 6378, 3.0),
 (154602, 8950, 4.0),
 (126566, 497, 4.5),
 (148430, 2324, 4.0),
 (87125, 7143, 4.0),
 (57816, 58559, 4.0),
 (87953, 48780, 4.5),
 (78799, 4368, 1.0),
 (160540, 134368, 4.0),
 (19042, 4816, 3.5),
 (105321, 34520, 1.5),
 (31627, 79428, 5.0),
 (127930, 6294, 3.0),
 (119416, 49286, 2.0),
 (126583, 47, 5.0),
 (3443, 1909, 3.5),
 (105191, 5270, 3.5),
 (53255, 81845, 4.0),
 (141600, 5218, 3.5),
 (2617, 6934, 3.5),
 (72311, 1232, 4.0),
 (104859, 2959, 5.0),
 (36617, 1198, 4.5),
 (19042, 2349, 3.5),
 (125090, 6502, 5.0),
 (21018, 3361, 4.0),
 (156412, 59615, 1.0),
 (32341, 71745, 5.0),
 (129343, 5816, 3.5),
 (157264, 7099, 5.0),
 (77713, 22, 3.0),
 (53068, 2706, 2.5),
 (65992, 55363, 5.0),
 (34230, 4974, 2.0),
 (49947, 1945, 4.0),
 (47904, 7569, 3.0),
 (133921, 8329, 3.5),
 (70298, 69122, 4.0),
 (48890, 68319, 3.5),
 (72876, 904, 4.0),
 (34365, 4128, 3.5),
 (59039, 8644, 4.0),
 (93498, 2193, 4.5),
 (149183, 103372, 2.0),
 (95872, 48780, 4.0),
 (18311, 134130, 4.0),
 (16036, 88129, 3.5),
 (68741, 653, 3.0),
 (60042, 4321, 3.0),
 (83456, 1196, 5.0),
 (71759, 1198, 4.5),
 (32193, 524, 4.5),
 (145839, 27178, 3.0),
 (93074, 2476, 3.0),
 (136898, 1214, 2.5),
 (2780, 256, 2.5),
 (24869, 189381, 0.5),
 (132127, 367, 3.0),
 (88807, 5989, 4.0),
 (27478, 1210, 4.5),
 (70678, 2706, 2.5),
 (116843, 780, 3.5),
 (144450, 1198, 3.5),
 (122179, 3535, 5.0),
 (5572, 70130, 3.5),
 (18710, 153, 2.5),
 (127187, 858, 3.5),
 (132648, 7482, 3.0),
 (46918, 46772, 4.0),
 (2379, 3793, 3.5),
 (96180, 46976, 3.5),
 (20202, 2011, 3.5),
 (47605, 2167, 4.0),
 (24077, 300, 3.5),
 (132064, 913, 5.0),
 (148490, 1129, 3.5),
 (137546, 2329, 4.0),
 (33574, 1921, 3.5),
 (24435, 79463, 4.0),
 (30758, 1704, 1.5),
 (105497, 84392, 4.5),
 (103118, 3252, 4.5),
 (98308, 70451, 4.0),
 (152688, 2115, 3.5),
 (16750, 296, 5.0),
 (53020, 97194, 1.0),
 (39041, 45208, 5.0),
 (76170, 2478, 2.0),
 (29803, 43932, 2.5),
 (31047, 81641, 4.0),
 (82850, 2404, 3.0),
 (88394, 1234, 4.0),
 (124158, 3527, 4.0),
 (7860, 6934, 2.5),
 (102932, 1805, 2.5),
 (79848, 318, 5.0),
 (152801, 3408, 1.5),
 (40423, 49396, 3.0),
 (58533, 1387, 4.5),
 (45703, 2918, 4.0),
 (108975, 4148, 2.5),
 (147997, 762, 3.0),
 (148848, 2455, 4.5),
 (79776, 85414, 4.0),
 (139909, 786, 3.5),
 (103203, 2020, 3.0),
 (20707, 1080, 4.0),
 (97607, 106487, 4.0),
 (82769, 316, 2.5),
 (67144, 3256, 3.0),
 (156275, 364, 2.5),
 (88536, 157122, 3.5),
 (17160, 249, 4.0),
 (30419, 4865, 3.5),
 (111311, 2641, 2.5),
 (144761, 3793, 4.0),
 (56165, 93510, 4.0),
 (18845, 46972, 1.0),
 (16279, 2858, 0.5),
 (41633, 97836, 3.0),
 (116064, 1616, 2.0),
 (24655, 39, 4.0),
 (140198, 2617, 5.0),
 (146495, 110, 4.0),
 (45269, 25, 3.5),
 (90428, 4719, 2.5),
 (35116, 81834, 4.0),
 (129996, 109487, 5.0),
 (80241, 4979, 4.0),
 (157025, 5171, 2.0),
 (76671, 110, 3.5),
 (47486, 56174, 3.0),
 (19076, 93510, 5.0),
 (45908, 66097, 4.0),
 (97234, 2324, 4.0),
 (60289, 6297, 2.0),
 (152060, 4002, 1.5),
 (39415, 112412, 3.0),
 (92223, 551, 5.0),
 (102115, 1, 5.0),
 (144008, 33779, 3.0),
 (123315, 364, 3.0),
 (96181, 3638, 3.5),
 (127893, 8781, 2.5),
 (71319, 100507, 4.0),
 (36013, 3916, 4.0),
 (158851, 858, 3.5),
 (103815, 72378, 0.5),
 (78211, 805, 3.0),
 (74286, 6567, 5.0),
 (135562, 37729, 5.0),
 (106977, 2871, 4.0),
 (122882, 106487, 1.0),
 (16369, 59315, 3.5),
 (116594, 53972, 5.0),
 (60624, 48394, 4.5),
 (8619, 6502, 3.5),
 (96472, 4639, 2.0),
 (31277, 4310, 3.5),
 (25176, 2959, 4.5),
 (132754, 109487, 3.0),
 (150615, 5309, 2.0),
 (55086, 592, 4.0),
 (41595, 2355, 4.0),
 (146367, 4144, 4.0),
 (137492, 356, 4.5),
 (49824, 31193, 2.5),
 (158083, 89864, 3.0),
 (114943, 1591, 4.0),
 (131116, 33880, 2.5),
 (8821, 260, 3.5),
 (3938, 48516, 4.5),
 (25528, 59315, 4.0),
 (40698, 6711, 2.0),
 (31792, 1092, 3.5),
 (123590, 45517, 0.5),
 (46179, 3032, 3.5),
 (112545, 4995, 3.5),
 (59850, 59784, 5.0),
 (135594, 95441, 4.5),
 (107914, 104074, 2.0),
 (5792, 5225, 3.5),
 (80818, 3649, 4.0),
 (48604, 555, 3.0),
 (3536, 2054, 1.5),
 (138248, 7256, 3.5),
 (101189, 1069, 4.0),
 (12283, 70286, 3.0),
 (114269, 4019, 2.5),
 (104009, 8636, 3.5),
 (6019, 480, 3.5),
 (55073, 377, 4.0),
 (10754, 89753, 4.5),
 (81403, 133645, 4.5),
 (48617, 2490, 3.0),
 (82450, 74452, 2.5),
 (146726, 2762, 4.0),
 (31635, 60766, 5.0),
 (73507, 53121, 1.5),
 (109329, 5137, 4.0),
 (27554, 88405, 2.5),
 (57396, 661, 3.0),
 (151880, 7438, 4.0),
 (93006, 7153, 3.0),
 (139115, 4033, 4.5),
 (1788, 4886, 1.5),
 (55380, 2329, 5.0),
 (105581, 107, 3.5),
 (27235, 97304, 4.0),
 (50177, 1610, 2.5),
 (16977, 60756, 0.5),
 (29258, 59387, 4.5),
 (98959, 89804, 4.0),
 (54053, 1207, 4.0),
 (59398, 87306, 5.0),
 (41700, 1032, 4.5),
 (86719, 2335, 5.0),
 (41191, 158813, 2.5),
 (139985, 103042, 4.5),
 (63560, 1073, 4.0),
 (156358, 2021, 2.0),
 (74972, 86345, 4.5),
 (95102, 2616, 5.0),
 (89816, 7292, 2.5),
 (89258, 69122, 3.0),
 (143385, 6807, 3.5),
 (125197, 51662, 3.0),
 (46342, 223, 4.0),
 (134386, 1405, 3.5),
 (149564, 1682, 4.5),
 (144854, 70293, 4.0),
 (106643, 5598, 2.5),
 (75556, 4881, 4.0),
 (50742, 2959, 4.0),
 (101607, 2100, 3.0),
 (94553, 70183, 3.5),
 (87407, 6537, 3.5),
 (58063, 56782, 5.0),
 (43224, 7386, 4.5),
 (150759, 54286, 4.0),
 (26842, 109374, 4.5),
 (70609, 68954, 4.0),
 (61912, 76293, 2.5),
 (146435, 176371, 4.0),
 (37106, 3250, 4.0),
 (10630, 106696, 4.5),
 (136736, 1230, 3.5),
 (63508, 134130, 4.0),
 (2775, 7987, 2.5),
 (94650, 193, 3.0),
 (26846, 45517, 3.5),
 (44382, 266, 4.0),
 (94584, 1707, 2.5),
 (149873, 99728, 3.0),
 (110466, 69406, 3.5),
 (149554, 110, 3.0),
 (1947, 922, 4.5),
 (89854, 3481, 3.5),
 (158047, 2918, 4.0),
 (77407, 183611, 3.5),
 (58690, 837, 3.0),
 (65385, 113829, 4.5),
 (127148, 90746, 4.0),
 (120320, 3977, 3.5),
 (16568, 54780, 2.5),
 (25652, 2232, 5.0),
 (34684, 70286, 3.0),
 (116512, 8914, 3.5),
 (58220, 33493, 5.0),
 (142533, 4835, 4.5),
 (63696, 7007, 3.5),
 (151273, 6786, 3.5),
 (52318, 26567, 2.5),
 (73688, 45517, 2.0),
 (150149, 1608, 2.5),
 (115582, 95, 3.5),
 (144475, 88125, 4.0),
 (54911, 2561, 3.5),
 (50579, 90746, 4.5),
 (70240, 166461, 4.0),
 (56296, 60069, 4.5),
 (134750, 1387, 3.0),
 (4703, 339, 3.5),
 (101347, 3948, 1.0),
 (137969, 3707, 3.0),
 (59802, 3275, 5.0),
 (111003, 168250, 4.5),
 (84238, 186339, 2.0),
 (135678, 93970, 3.0),
 (29414, 1408, 3.5),
 (6146, 74458, 4.0),
 (3517, 7147, 4.0),
 (69169, 1201, 4.0),
 (120052, 2012, 3.5),
 (6983, 2694, 3.0),
 (56152, 47465, 4.0),
 (27171, 27839, 2.0),
 (49010, 260, 5.0),
 (118376, 4306, 4.0),
 (58807, 1222, 4.5),
 (92142, 112623, 3.0),
 (31267, 116823, 3.0),
 (131412, 353, 2.0),
 (93855, 2412, 2.5),
 (31502, 3617, 3.5),
 (153586, 33004, 3.0),
 (142001, 2096, 2.5),
 (147629, 1, 3.0),
 (103849, 8644, 3.5),
 (93011, 2571, 4.5),
 (75266, 7438, 0.5),
 (124172, 2713, 2.0),
 (69064, 3238, 3.5),
 (24533, 5569, 5.0),
 (94862, 95875, 3.0),
 (73402, 8464, 4.0),
 (113567, 143385, 5.0),
 (16113, 3752, 4.0),
 (161389, 1090, 4.5),
 (55122, 923, 4.0),
 (116937, 33679, 4.0),
 (31263, 1784, 2.5),
 (80575, 2076, 4.0),
 (41445, 79091, 3.0),
 (70213, 4995, 3.5),
 (72925, 8644, 4.5),
 (79232, 190183, 1.0),
 (7657, 1223, 4.0),
 (10162, 1645, 4.5),
 (67173, 4678, 2.5),
 (107994, 171763, 2.0),
 (32683, 778, 5.0),
 (150892, 2797, 4.5),
 (41695, 54272, 5.0),
 (5536, 87485, 2.5),
 (70833, 6863, 4.0),
 (82739, 76251, 4.0),
 (13288, 156387, 4.0),
 (65340, 6879, 4.5),
 (97691, 590, 5.0),
 (53108, 590, 3.5),
 (139713, 97306, 3.0),
 (2168, 73017, 4.5),
 (102502, 2455, 3.5),
 (4480, 1, 4.0),
 (22488, 260, 4.0),
 (42029, 5159, 3.0),
 (127547, 79251, 2.0),
 (159610, 130448, 2.0),
 (153437, 54503, 3.0),
 (18050, 59421, 3.5),
 (78210, 1307, 3.0),
 (46371, 2161, 2.0),
 (15238, 1372, 2.0),
 (13700, 3948, 4.5),
 (73097, 37729, 3.0),
 (105846, 1193, 4.0),
 (35383, 4886, 4.0),

In [76]:
df_predict = pd.DataFrame(predictions)

del df_predict['details']

columns_name = {'uid': 'userId', 'iid': 'movieId', "r_ui" : 'rating', "est" : "predicted rating"}
df_predict = df_predict.rename(columns = columns_name , inplace = False)

# df_predict = df_predict.sort_values(["userId", "movieId"], ascending = (True, True))

In [89]:
df_predict

          userId  movieId  rating  predicted rating
2088467        1      306     3.5          4.081533
8644291        1      307     5.0          4.269365
138047         1      665     5.0          4.119085
10838926       1      899     3.5          3.933253
6360343        1     1088     4.0          2.885010
...          ...      ...     ...               ...
5647231   162541    45517     4.5          2.781632
10708436  162541    50872     4.5          3.527612
5163580   162541    55768     2.5          2.574992
2568752   162541    56176     2.0          1.906118
2672577   162541    63876     5.0          3.654275

[11472872 rows x 4 columns]

In [42]:
accuracy.rmse(predictions)

RMSE: 0.8203

0.8202585240048046

In [ ]:
# train_test_split

In [94]:
df_train

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
24997287  162521    56174     4.0  1219357742
24997298  162521    59315     4.5  1219339433
24997301  162521    59615     3.5  1219339443
24997302  162521    59725     4.0  1219339392
24997308  162521    60074     4.0  1219339411

[4602106 rows x 4 columns]

In [ ]:
test_time = df_test['timestamp'].copy # timestamp 따로 저장 
del df_test['timestamp']

In [125]:
reader = Reader(rating_scale=(0,5))
train_data = Dataset.load_from_df(df_train[['userId','movieId','rating']],reader )
trainset_2 = train_data.build_full_trainset()

test_data = Dataset.load_from_df(df_test[['userId','movieId','rating']],reader )
testset_2 = test_data.build_full_trainset()
testset_2 = testset_2.build_testset()

In [126]:
algo = SVD()

predictions = algo.fit(trainset_2).test(testset_2)

In [127]:
accuracy.rmse(predictions)

RMSE: 0.9972

0.9972418416769231

### 구현 성능향상을 위해서 고민
1. 적게 영화를 본 유저 제거
2. 적은 유저가 본 영화 데이터 제거 
3. SVD말고

### matrix factorization
$\hat r_{ui} = q_i^Tp_u$
* reduced = U * s @ VT 로 분해 = $q_i^Tp_u$

### Learning algorithms
1. SGD(Stochastic gradient descent)
    * prediction error($e_{ui} = r_{ui} - q_i^Tp_u$)를 최소화 하는 parmeter를 gradient descent로 계산
    * $q_i \leftarrow q_i + \gamma \centerdot(e_{ui}\centerdot p_u - \lambda \centerdot q_i)$
    * $p_u \leftarrow p_u + \gamma \centerdot(e_{ui}\centerdot q_i - \lambda \centerdot p_u)$